# Server Configuration
PORT=5002

# MongoDB Connection
# Local: mongodb://localhost:27017/multimodal_analyzer
# Atlas: mongodb+srv://username:password@cluster.mongodb.net/multimodal_analyzer
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database>

# Google Gemini API Key
GEMINI_API_KEY=<your-gemini-api-key>

# LangSmith tracing
LANGSMITH_TRACING=true
LANGSMITH_TRACING_V2=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT=Multimodal document analyzer
LANGSMITH_API_KEY=<your-langsmith-api-key>
